@model Pharmacy.Models.ChangeVisitModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Visit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.VisitData.ClientId)
    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.VisitData.VisitDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitData.VisitDate)
            @Html.ValidationMessageFor(model => model.VisitData.VisitDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisitData.OrderAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitData.OrderAmount)
            @Html.ValidationMessageFor(model => model.VisitData.OrderAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisitData.OrderStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.VisitData.OrderStatus, Model.StatusList)
            @Html.ValidationMessageFor(model => model.VisitData.OrderStatus)
        </div>

        <input type="submit" value="Add visit" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to visit list", "VisitList", "Client", new { Model.VisitData.ClientId }, null)
</div>